input {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $lightwhite;
  font-size: $largest;
  padding: 10px 20px 5px;
  color: $white;
  text-shadow: 1px 1px $blue;
  margin-bottom: 1.5rem;
  display: inline-block;
  
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $teal inset;
  }

  &::-webkit-input-placeholder {
    color: $darkteal;
    text-shadow: none;
  }
  &:-moz-placeholder {
    color: $darkteal;
    text-shadow: none;
  }
  &::-moz-placeholder {
    color: $darkteal;
    text-shadow: none;
  }
  &:-ms-input-placeholder {
    color: $darkteal;
    text-shadow: none;
  }
}