$teal: #7EB5BA;
$midteal: darken($teal, 10%);
$darkteal: darken($teal, 20%);
$darkestteal: darken($teal, 30%);
$blue: #10748E;
$darkblue: darken($blue, 20%);
$orange: #F38630;
$darkorange: darken($orange, 10%);
$red: #92260C;
$darkRed: darken($red, 10%);
$lightwhite: #F1F6FA;
$white: #FFF;